@{
    ViewBag.Title = "Trip Deleted";
}

<div class="container mt-4">
    <div class="alert alert-success text-center">
        <h4>The trip has been successfully deleted!</h4>
    </div>
    <div class="text-center mt-4">
        <a asp-action="Index" class="btn btn-primary">Back to Trip List</a>
    </div>
</div>
